{% extends 'base.html' %}

{% block head %}
<title>homepage</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Appointment Info</h1>
    <table>
        {% for task in tasks %}
        <tr>
            <td>appointment_id: </td>
            <td>{{ task.a_id }}</td>
        </tr>
        <tr>
            <td>passenger id: </td>
            <td>{{ task.p_id }}</td>
        </tr>
        <tr>
            <td>driver id: </td>
            <td>{{ task.d_id }}</td>
        </tr>
        <tr>
            <td>Start time: </td>
            <td>{{ task.planned_start_time }}</td>
        </tr>
        <tr>
            <td>Pick up: </td>
            <td>{{ task.planned_pickup }}</td>
        </tr>
        <tr>
            <td>Destination: </td>
            <td>{{ task.planned_destination }}</td>
        </tr>
        <tr>
            <td>Planned payment: </td>
            <td>{{ task.planned_payment_amount }}</td>
        </tr>
        <tr><td>    <form action="/deleteAppointment/{{task.p_id}}/{{task.a_id}}">
            <input type="submit" value="Delete Appointment" />
        </form></td></tr>
        <tr><td>    <form action="/change_appointment/{{task.a_id}}/{{task.p_id}}">
            <input type="submit" value="Change Appointment" />
        </form></td></tr>
        {% endfor %}
    </table>
    <center>     <form action="/homepage_p/{{id}}">
        <input type="submit" value="Go Back to Main Page" />
    </form>  </center>
    </div>
{% endblock %}