{% extends 'base.html' %}

{% block head %}
<title>homepage</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Passenger Homepage</h1>
    <table>
        <tr>
            <td>id: </td>
            <td>{{ tasks.d_id }}</td>
        </tr>
    </table>

    <br>        <br> 
    <div class="form">
        <form action="/homepage_p/{{tasks.d_id}}" method="POST">
            <tr>
                name:
            </tr>
            <input type="text" name="name">
            <tr>
                phone number:
            </tr>
            <input type="text" name="phoneNumber">
            <tr>
                address:
            </tr>
            <input type="text" name="address">
            <tr>
                card info:
            </tr>
            <input type="text" name="card_info">
            <div class="form">
                <input type="submit" name="btn" value="edit_user_info">
            </div>
            <tr>
                pick up:
            </tr>
            <input type="text" name="pick_up">
            <tr>
                drop off:
            </tr>

            <input type="text" name="drop_off">
            <div class="form">
                <input type="submit" name = "btn" value="post_order">
            </div>

            <br>
            <tr>
            Appointment pick up:
        </tr>
        <input type="text" name="pick_up_app"><br>
        <tr>
            Appointment drop off:
        </tr>


        <input type="text" name="drop_off_app"><br>
            <tr>Start Time:</tr>
            <input type="text" name="start_time"><br>
            <tr>How much would you like to pay for this trip?:</tr>
            <input type="text" name="planned_payment"><br>
            <input type="submit" name = "btn" value="post_appointment"><br>
        </div>
    </form>
        <div>
            <form action="/profilePage/{{tasks.d_id}}">
                <input type="submit" value="Profile Page" />
            </form>
        </div>
        <div>
            <table>
            <form action="/order_p/{{tasks.d_id}}">
                <input type="submit" value="View My Order" />
            </form>
            <form action="/appointment/{{tasks.d_id}}">
                <input type="submit" value="View My Appointment" />
            </form>
        </table>
        </div>

    </div>
</div>
{% endblock %}